button {
  margin: .9rem;
  border-radius: 2rem;
  max-height: max-content;
  color: rgba(68, 68, 210, 0.904);
  background-color: rgba(0, 0, 0, 0.754);
  cursor: pointer;
  width: 10em;
  height: 5ex;
  font-weight: bold;
  border-color:blue;
}

h1 {
  color: white;
  text-decoration: none;
}


